.footer {
  background: $headerBC;
  color: $headerC;
  position: absolute;
  bottom: 0;
  width: 100%;
   ul {
     list-style-type: none;
     font-size: 16px;
     li {
       display: inline-block;
       padding:$liPadding;
       cursor: pointer;
       transition: .5s all;
       &:hover {
         background: $hoverBC;
       }
   }
 }
   p {
     font-family:$mainFont;
     color:#fff;
     text-align:center;
     padding-top: 10px;
     padding-bottom: 30px;
   }
   @media screen and (max-width: $tablet) {
     ul {
       font-size: 13px;
       display: flex;
       justify-content: center;
       align-items: center;
       li {
         flex-basis: 100%;
         text-align: center;
       }
     }
     p {
       font-size: 13px;
     }
   }
}
