$mainFont: 'Roboto', sans-serif;
$backgroundColor: #eee;
$headerBC: #ccc;
$headerC: #fff;
$hoverBC: #949494;
$liPadding: 20px 25px;
//devices
$tablet: 768px;
$phone: 425px;
$smPhone: 375px;
