@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variables.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import 'header.scss';
body {
  background: $backgroundColor;
  font-family: Roboto;
}
.main {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: .5s letter-spacing, 1s color;
   &:hover {
     letter-spacing: 20px;
     color:mediumSeaGreen;
   }
    @media only screen and (max-width: $phone) {
      &:hover {
        letter-spacing: 10px;
        color:mediumSeaGreen;
      }
    }
}
@import 'footer.scss';
